# ESP-IDF
esp-idf/
build/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/

# Project data
.vscode/
docs/
test_results/
__pycache__
.cache

# Other
.DS_Store
.log.

# ESPHome
esphome-env/
.esphome/
secrets.yaml
